flask
llama-cpp-python
ctranslate2
sentence-transformers
faiss-cpu
numpy
pandas
requests
psycopg2
llama_index
llama_index.embeddings.huggingface
llama_index.llms.llama_cpp
llama-index-vector-stores-postgres 
fitz